@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, sans-serif;
}

input {
  outline: none;
}

body {
  padding: 0;
  margin: 0;
  display: flex;
}